[submodule "submodules/CRCpp"]
	path = submodules/CRCpp
	url = https://github.com/d-bahr/CRCpp.git
[submodule "submodules/Serialib"]
	path = submodules/Serialib
	url = https://github.com/imabot2/serialib.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
